.navbar-collapse {
  justify-content: flex-end;
}
.navbar {
  background: #4aaaa5;
}
.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #4aaaa5;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
  color: #4aaaa5;
}

.header {
  /* background-image: url('./images/pic.jpeg');   */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}
.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
.description h1 {
  color: #4aaaa5;
}
.contact-form {
  margin: 6em 0;
  position: relative;
}
.contact-form h1 {
  padding: 2em 1px;
  color: #4aaaa5;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: #4aaaa5;
  color: #fff;
  border: 0;
}
.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1 {
  color: #4aaaa5;
  margin: 2em;
}
.about img {
  height: 60%;
  width: 70%;
  border-radius: 50%;
  margin-left: 20px;
}
.about span {
  display: block;
  color: #4aaaa5;
  position: absolute;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828c;
}
.about .desc h3 {
  color: #10828c;
}
.about .desc p {
  line-height: 2;
  color: #888;
}
.portfolio {
  margin: 4em 0;
  position: relative;
}
.portfolio h1 {
  color: #4aaaa5;
  margin: 2em;
}
.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
}
